p{
    font-size: 1.3rem;
    color: var(--color-pink);
    padding: 1rem;
    background-color: var(--color-very-light-pink-2-t);
    border-radius: 1rem;
    max-width: 600px;
    margin-bottom: 3rem;
}