html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

:root {
  --color-white: #fff;
  --color-very-light-pink: #fde2e4;
  --color-light-pink: #da8c96;
  --color-pink: #b23a48;
}