.footer {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: var(--color-pink);
    background-color: var(--color-very-light-pink-2-t);
    font-weight: 500;
    font-size: 0.9rem;
}