.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: var(--color-pink);
  background-color: var(--color-very-light-pink-2-t);
  font-weight: 500;
  font-size: 0.9rem;

  a {
    text-decoration: none;
    color: var(--color-pink);
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      opacity: 0;
      transform: translateX(-10px);
      transition: all 0.3s ease;
      margin-top: -3px;
      margin-left: 5px;
      color: var(--color-pink);
    }

    &:hover {
      color: var(--color-dark-pink);

      .arrow {
        opacity: 1;
        transform: translateX(0);
        color: var(--color-dark-pink);
      }
    }
  }
}
