<div class="login-wrapper">
  <header class="header">
    <app-button [size]="'little'" (clickEvent)="goToHome()" [label]="'Retour à l\'accueil'"></app-button>
  </header>
  <div class="login-container">
    <app-title></app-title>
    <app-subtitle [subtText]="'Connectez-vous pour accéder à vos créations'"></app-subtitle>
    <form>
      <input type="email" name="email" placeholder="Email" required ngModel class="login-input" />
      <input type="password" name="password" placeholder="Mot de passe" required ngModel class="login-input" />
      <app-button (clickEvent)="onLogin()" [label]="'Se connecter'"></app-button>
    </form>
  </div>
  <app-footer></app-footer>
</div>