<div class="home-wrapper">
  <header class="header">
    <app-button [size]="'little'" (clickEvent)="goToLogin()" [label]="'Se connecter'"></app-button>
  </header>

  <div class="home-container">
    <app-title></app-title>
    <app-subtitle [subtText]="'Transformez vos images ou vos idées en patrons de crochet, pixel par pixel.'"></app-subtitle>
    <div class="buttons">
      <app-button (clickEvent)="importImage()" [label]="'Importer une image'"></app-button>
      <app-button (clickEvent)="createNew()" [label]="'Créer à partir de rien'"></app-button></div>
      <app-button [label]="'Modèles prêts à l’emploi'"></app-button>
    
  </div>
  <app-footer></app-footer>
</div>