.home-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    background-color: var(--color-very-light-pink);
    background-image:
        repeating-radial-gradient(circle,
            var(--color-light-pink) 0px,
            var(--color-light-pink) 2px,
            transparent 2px,
            transparent 20px), ;
    background-size: 20px 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

.home-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}