<div class="home-wrapper">
  <header class="header">
    <button class="login-btn" (click)="goToLogin()">Se connecter</button>
  </header>

  <div class="home-container">
    <h1 class="title">Pixel Crochet</h1>
    <p class="subtitle">
      Transformez vos images ou vos idées en patrons de crochet, pixel par pixel.
    </p>

    <div class="buttons">
      <button class="action-btn">Importer une image</button>
      <button class="action-btn">Créer à partir de rien</button>
      <button class="action-btn">Modèles prêts à l’emploi</button>
    </div>
  </div>

  <footer class="footer">
    <p>© 2025 Pixel Crochet – Cozy & créatif</p>
    <p>Anaïs Mocquard</p>
  </footer>
</div>
